<!DOCTYPE html>
<html>
  <head>
	<script type="text/javascript">
	</script>
    <title>Type 2 Diabetes Liklihood Prediction Website</title>
  </head>
  <body style="background-color:#AAA;">
    <h1 style="font-size:300%; background-color:#ffffff ;text-align:center">Type 2 Diabetes Liklihood Prediction Website</h1>
	<h2 style="font-size:150% ;text-align:center"> This tool will have you insert in values for the following criteria. Once those values are correct click the "Get Results" button. </h2>
	<form action="/results" method = "POST">
		<p>Enter Age: <input type = "number" name = "age" min="0" max="150" required/></p>
		<p>Enter BMI: <input type = "number" name = "bmi" min="0" max="70" step=".001" required/></p>
        <p>Enter Diastolic Blood Pressure: <input type = "number" name = "bloodpressure" min="0" max="200" step=".001" required/></p>
        <p>Enter Glucose in mmol/L: <input type = "number" name = "glucose" min="0" max="500" step=".001" required/></p>
        <p>Enter Insulin in mmol/L: <input type = "number" name = "insulin" min="0" max="100" step=".001" required/></p>
        <p>Enter the Number of Pregnancies: <input type = "number" name = "pregnancies" min="0" max="20" required/></p>
        <p>Enter the Skin Thickness in mm: <input type = "number" name = "skinthickness" min="0" max="100" step=".001" required/></p>
        <p><input type = "submit" value = "Submit" /></p>
	</form>
  </body>
</html>



