<!DOCTYPE html>
<html>
  <head>
	<script type="text/javascript">
	</script>
    <title>Type 2 Diabetes Liklihood Prediction Website</title>
  </head>
  <body style="background-color:#AAA;">
    <h1 style="font-size:300%; background-color:#ffffff ;text-align:center">Type 2 Diabetes Liklihood Prediction Website</h1>
	<h2 style="font-size:150% ;text-align:center"> This tool will have you insert in values for the following criteria. For Yes or No Questions below, please input 0 for no and 1 for yes. Once the values have been inputted click the "Get Results" button. </h2>
	<form action="/results" method = "POST">
		<p>Is the patient Female (0) or Male (1)?: <input type = "number" name = "sex" min="0" max="1" step=".001" required/></p>
        <p>Enter BMI: <input type = "number" name = "bmi" min="0" max="70" step=".001" required/></p>
        <p>Does the patient have high blood pressure?: <input type = "number" name = "highbp" min="0" max="1" step=".001" required/></p>
        <p>Does the patient have high cholesterol?: <input type = "number" name = "highchol" min="0" max="1" step=".001" required/></p>
        <p>Has the patient had a chloesterol check in the past 5 years: <input type = "number" name = "cholcheck" min="0" max="1" step=".001" required/></p>
        <p>Has the patient had at least 5 packs of cigarettes in their lifetime?: <input type = "number" name = "smoker" min="0" max="1" required/></p>
        <p>Has the patient had a stroke?: <input type = "number" name = "stroke" min="0" max="1" step=".001" required/></p>
        <p>Does the patient have coronary heart diasese or a have had a heart attack?: <input type = "number" name = "heartdiseaseorattack" min="0" max="1" step=".001" required/></p>
        <p>Has the patient be active in the last 30 days?: <input type = "number" name = "physactivity" min="0" max="1" step=".001" required/></p>
        <p>Does the patient consume 1 or more fruit a day?: <input type = "number" name = "fruits" min="0" max="1" step=".001" required/></p>
        <p>Does the patient consume vegtables atleast once per day?: <input type = "number" name = "veggies" min="0" max="1" step=".001" required/></p>
        <p>Does the patient consume more than 14(men) or 7(women) alcoholic beverages a week?: <input type = "number" name = "hvyalcoholconsump" min="0" max="1" step=".001" required/></p>
        <p>Does the patient have health care coverage?: <input type = "number" name = "anyhealthcare" min="0" max="1" step=".001" required/></p>
        <p>Number of days of poor mental health in the last month: <input type = "number" name = "menthlth" min="0" max="30" step=".001" required/></p>
        <p>Number of days of physical illness or injury in the last month: <input type = "number" name = "physhlth" min="0" max="30" step=".001" required/></p>
        <p>Does the patient have difficulty walking up stairs?: <input type = "number" name = "diffwalk" min="0" max="1" step=".001" required/></p>
        <p><input type = "submit" value = "Submit" /></p>
	</form>
  </body>
</html>



