<form action="/login" method = "POST">
    <p>pregnancies <input type = "integer" name = "pregnancies" /></p>
    <p>glucose <input type = "integer" name = "glucose" /></p>
    <p>bloodpressure <input type = "integer" name = "bloodpressure" /></p>
    <p>skinthickness <input type = "integer" name = "skinthickness" /></p>
    <p>insulin <input type = "integer" name = "insulin" /></p>
    <p>bmi <input type = "integer" name = "bmi" /></p>
    <p>age <input type = "integer" name = "age" /></p>
    <p><input type = "submit" value = "Submit" /></p>
 </form>